import React from 'react'
import PropTypes from 'prop-types'

import styles from './{{componentName}}.module.scss'

const {{componentName}} = ({ ...props }) => (
  <div>待编辑</div>
)

{{componentName}}.propTypes = {

}

{{componentName}}.defaultProps = {

}

export default {{componentName}}

