import React, { PureComponent } from 'react'
import PropTypes from 'prop-types'

import styles from './{{componentName}}.module.scss'

class {{componentName}} extends PureComponent {
  constructor(props) {
    super(props)
    this.state = {}
  }

  render() {
    return (
      <div>
        待编辑
      </div>
    )
  }
}

{{componentName}}.propTypes = {
}

{{componentName}}.defaultProps = {
}

export default {{componentName}}
